<!-- single-service.component.html -->


<div class="container-fluid ctr-top py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container py-5">

      <div class="row g-5">

        <div class="container my-5">
          <div class="row">
            <div class="col-md-6">
              <h2>About Us</h2>
            <p>Mascon Care is a prominent home care company in Sheffield, United Kingdom, with a strong family-run ethos.</p>
            <p>Our client-focused care philosophy aligns with the government’s commitment to prioritizing individuals in care, offering personalized services tailored to each client. We recognize the significance of autonomy in managing one’s life and care, which is why we structure our services to uphold your personal decisions throughout your journey.</p>
            </div>
            <div class="col-md-6">
              <img src="assets/img/carousel-1.jpg" class="img-fluid rounded" alt="">
            </div>




          </div>

          <div class=" my-5">
            <div class="col-md-12 row py-3">
              <h2 class="mb-3">Empowering independence, enriching lives, with dignity and comfort </h2>
              <div class="col-md-3 text-center">
                <div class="card p-3 mx-auto blue-bg" >
                  <h3  class="text-white" >Our Values</h3>
                  <div class="values">
                    <p  class="text-white" >Integrity</p>
                    <p  class="text-white" >Compassion</p>
                    <p  class="text-white" >Empowerment</p>
                    <p  class="text-white" >Community</p>
                    <p  class="text-white" >Innovation</p>
                    <p  class="text-white" >Sustainability</p>
                    <p  class="text-white" >Quality</p>

                  </div>
                </div>
              </div>

              <div class="col-md-9">
                <div class="card p-3">
                  <h3>Our Mission</h3>
                  <p>To provide compassionate high-quality domiciliary and respite care services that empower individuals to live independently and with dignity in their own homes.</p>

                </div>
                <div class="card mt-3 p-3">
                  <h3>Our Vision</h3>
                    <p> To be a trusted leader in the home care services industry, recognised for our commitment to enhancing the quality of life for our clients through personalised and professional care. </p>
                </div>
              </div>



            </div>
          </div>

        </div>
      </div>
  </div>
</div>

