

  <!-- Topbar Start -->
  <div class="container-fluid bg-dark px-5 d-none d-lg-block">
      <div class="row gx-0">
          <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
              <div class="d-inline-flex align-items-center" style="height: 45px;">
                  <small class="me-3 text-light"><i class="fa fa-map-marker-alt me-2"></i>4 Folds Drive, Sheffield, United Kingdom, S8 0EN</small>
                  <small class="me-3 text-light"><i class="fa fa-phone-alt me-2"></i>07961559389</small>
                  <small class="text-light"><i class="fa fa-envelope-open me-2"></i>info&#64;elitestayuk.com</small>

              </div>
          </div>
          <div class="col-lg-4 text-center text-lg-end">
              <div class="d-inline-flex align-items-center" style="height: 45px;">
                  <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-twitter fw-normal"></i></a>
                  <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-facebook-f fw-normal"></i></a>
                  <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-linkedin-in fw-normal"></i></a>
                  <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i class="fab fa-instagram fw-normal"></i></a>
                  <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle" href=""><i class="fab fa-youtube fw-normal"></i></a>
              </div>
          </div>
      </div>
  </div>
  <!-- Topbar End -->


  <!-- Navbar & Carousel Start -->
  <div class="container-fluid position-relative p-0">
      <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
          <a href="index.html" class="navbar-brand p-0">
              <h1 class="m-0 logo-txt">Mascon Care Partners</h1>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
              <span class="fa fa-bars"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
              <div class="navbar-nav ms-auto py-0">
                  <a routerLink="" class="nav-item nav-link active">Home</a>
                  <a routerLink="services" class="nav-item nav-link">Services</a>
                  <a routerLink="faqs" class="nav-item nav-link">Faqs</a>

                      <a routerLink="about" class="nav-link nav-link" data-bs-toggle="dropdown">About Us</a>
              </div>
              <button type="button" class="btn text-primary ms-3" data-bs-toggle="modal" data-bs-target="#searchModal"><i class="fa fa-search"></i></button>
              <a routerLink="contact" class="btn btn-primary py-2 px-4 ms-3">Get In Touch </a>
          </div>
      </nav>


  </div>
  <!-- Navbar & Carousel End -->
