<!-- single-service.component.html -->


<div class="container-fluid ctr-top py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container py-5">

      <div class="row g-5">

        <div class="container my-5">
          <div class="row">
            <div class="col-md-6">
              <img src="assets/img/carousel-1.jpg" class="img-fluid rounded" alt="">
            </div>
            <div class="col-md-6">
              <h2>Frequently asked questions</h2>
              <p>At Mascon Care, we recognize that contemplating care or support for yourself or a loved one can be a challenging decision. To assist you, we have provided answers to some of our most commonly asked questions below.

               <br><br> If your question hasn't been addressed or if you would like to discuss arranging care, please reach out to us, and our team will gladly assist you.</p>
              <!-- Add more fields as necessary -->
            </div>



          </div>

          <div class="row my-5">
            <div class="col-md-12 py-3">
              <h2>Our Care Services</h2>
              <div class="accordion py-2" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                     What type of care is best suited for my beloved one?
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                    <p class="text-justify">Choosing the right type of care for you and your loved one is a significant decision. We offer many benefits, such as the ability to remain in your own home and maintain preferred routines, whether it's through regular visits from a domiciliary carer or live-in care arrangements.

                      Our person-centred planning ensures that every care package is tailored to the individual, whether you need support for a few hours a week or 24-hour care. Our carers assist with a variety of needs, from personal care like washing and dressing to domestic tasks such as cleaning and meal preparation.

                      The amount of care required depends on several factors, including medical conditions, mobility, availability of support from family and friends, personal preferences, and budget. We consider your loved one’s wishes at every step to ensure they feel heard, comfortable, and supported.

                      Learn more about our carers' <a routerLink="/services">Services</a> or <a routerLink="/contact">Contact</a> us to discuss your needs.</p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                     What are the  benefits of home care?
                    </button>
                  </h2>
                  <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                   <p> Home care offers numerous benefits, including:

                    Comfort and Familiarity: Staying at home allows individuals to remain in a familiar environment, which can be comforting and reduce stress.
                    Personalized Care: Home care services are tailored to the specific needs and preferences of the individual, ensuring personalized attention.
                    Maintaining Independence: Home care enables individuals to retain a sense of independence and control over their daily routines and lifestyle.
                    Family Involvement: Loved ones can be more involved in the care process, providing emotional support and ensuring that care aligns with the individual's preferences.
                    Cost-Effective: Home care can be more affordable than residential care facilities, especially when only part-time assistance is needed.</p>

                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Are there any tasks my Carer is not able to do
                    </button>
                  </h2>
                  <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                <p>While carers can assist with a wide range of tasks, there are certain responsibilities they typically cannot perform, including:

                  Medical Procedures: Carers are not usually qualified to perform complex medical procedures or administer medications that require specialized training.
                  Heavy Lifting: Tasks involving heavy lifting or moving heavy objects may be outside a carer's scope to prevent injury.
                  Financial Management: Handling the client’s finances, making financial decisions, or managing legal affairs are generally not part of a carer’s duties.
                  Personal Errands: Running personal errands that do not directly relate to the client's care needs may not be included.
                  Extensive House Maintenance: Major home repairs or extensive house maintenance tasks are not typically within a carer’s role.
                  It’s important to clarify the specific duties and limitations with your care provider to ensure a clear understanding of what can and cannot be done. </p>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapseThree">
                  Can I trust the caregiver coming into my home?
                    </button>
                  </h2>
                  <div id="collapse4" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
               <p>At Mascon Care, we ensure that all our carers and support workers undergo thorough checks and screening before joining our team. We conduct comprehensive background checks, including verification of training, certificates, references, and relevant criminal records, to confirm their professionalism.

                Every caregiver participates in induction training upon starting and shadows a supervisor or manager before independently attending to clients. We also value client feedback on these shadowing shifts, as your opinion is crucial to us.

                If you have any concerns or feedback about your carer, please reach out to us, and we will be happy to discuss them with you.</p>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>

          <div class="row my-5">
            <div class="col-md-12 py-3">
              <h2>Pricing, Payment and Funding Options</h2>
              <div class="accordion py-2" id="accordionExample">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapseOne">
                   How much does care cost?
                    </button>
                  </h2>
                  <div id="collapse1" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                   <p>At Mascon Care, we recognize the uniqueness of every patient, which is why we offer personalized pricing plans to match your specific needs.

                    Care costs can vary significantly based on the required service level and individual preferences. We provide a wide range of services, from one-hour weekly visits to 24-hour live-in care. Factors such as overnight care, medical requirements, social support, and carer-assisted transportation can also influence the cost.

                    When creating your person-centred care plan, we consider the level of care, the duration and timing of services, and any additional needs or accommodations.

                    Our goal is to keep our costs affordable to alleviate concerns for our clients and their families. For more detailed discussions, please contact us.</p>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapseThree">
               What if Im self funding my care
                    </button>
                  </h2>
                  <div id="collapse3" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p>If you do not qualify for financial assistance from your local authority, you can still benefit from our services through private payment.

                        We offer transparent pricing with a clear payment schedule and no hidden fees. Bills are issued at agreed intervals, such as monthly, and payments can be made via electronic transfer (BACS), cheque, or standing order.

                        If your care requirements evolve, we are flexible to review your personalized care plan and provide updated pricing accordingly, at any stage.

                        For any further inquiries regarding funding or payment choices, please get in touch with us directly.</p>
                    </div>
                  </div>
                </div>
                <!-- <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapseThree">
                What is my choice?
                    </button>
                  </h2>
                  <div id="collapse7" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                 <p>Mascon Care is now listed on My Choice, a directory of care and support services available to residents of Leicester city.

                  My Choice empowers individuals in Leicestershire to make informed decisions about services that promote independent living. It serves as a comprehensive resource for exploring various options across the county, helping individuals identify services and products that align with their specific needs.

                  The website is accessible to all, including those with personal budgets from the local authority and anyone seeking to discover suitable services.</p>
                    </div>
                  </div>
                </div> -->

              </div>

            </div>
          </div>
        </div>

          <!-- Call Us For Quote Section -->
          <div class="col-lg-6 mx-auto  col-md-6 wow zoomIn" data-wow-delay="0.9s">
              <div class="position-relative bg-primary rounded h-100 d-flex flex-column align-items-center justify-content-center text-center p-5">
                  <h3 class="text-white mb-3">Call Us For Quote</h3>
                  <p class="text-white mb-3">Need assistance or have questions? Feel free to call us or email us for a personalized quote and expert advice. We're here to help you find the perfect solution for your needs</p>

              </div>
          </div>
          <!-- Call Us For Quote Section Ends -->
      </div>
  </div>
</div>

